.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
}

.body-container {
    min-height: calc(100vh - 294px);
}

body {
    overscroll-behavior: auto none;
  }

img {
    margin: 0em;
    padding: 0em;
}