html, body {
    height: 100%;
    margin: 0pt;
    padding: 0pt;
}

#main {
    position: fixed;
    height: 100%;
    left: 0pt;
    top: 0pt;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
}